@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,300i,400,400i,700,700i');

body{
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  color: #222;
}

h1, h2{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul, li, a{
  text-decoration: none;
  color: #222;
}

a:hover{
  text-decoration: underline;
}

.header{
  background-color: #ccc ;
  padding: 0px;
  margin: 0px;
  height: 400px;
  width: 100%;
  align-items: flex-end;
  display: flex;
}

.header img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header h1{
    text-transform: uppercase;
}

.siteTitle{
  position: absolute;
  padding: 50px;
  color: #fff;
}

/*  B L O G  */

.blog{
  width: 70%;
  margin: auto;
  padding-top: 50px;
}

.posts{
  width: 65%;
  float: left;
}

.content img{
 width: 100%;
 height: auto;
}

.sidebar{
  width: 30%;
  float: right;
  padding-bottom: 100px;
}

h5{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.sidebar-list li{
  border-bottom: 1px solid #ddd;
  padding: 0.5em 0;
}

.date{
  text-transform: uppercase;
  color: #767676;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: -20px;
}

.postTitle{
  text-decoration: none;
  font-weight: 300;
  font-size: 1.5em;
}

.footer{
  border-top: 1px solid #eee;
}
